body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

header {
  width: 100%;
}

ul {
  list-style: none;
}

#nav-left {
  float: left;
}

#nav-right {
  float: right;
}

      /* NAV BAR */
#nav_bar {
  float: right;
}

#nav-right li {
  display: inline-block;
  padding: 8px;
}

#nav-left li {
  display: inline-block;
  padding: 8px;
}

#nav-right #sign_in {
  background: #4887ef; 
  margin-right: 25px;
  padding: 7px 15px;
  border-radius: 3px; 
  font-weight: bold;
}

.nav-links {
  color: #404040;
}

a {
  text-decoration: none;
  color: inherit;
}

li.nav-links a:hover {
  text-decoration: underline;
}

#sign_in:hover { 
  box-shadow: 1px 1px 5px #999;
}

#sign_in {
  color: #fff;
}

/* BOOGLE AREA */
.boogle #boogle_logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  clear: both;
  /* padding-top: 112px;
  padding-bottom: 20px; */
  width: 758px;
  height: 250px;
}

.form {
  text-align: center;
}

#form-search { 
  width: 450px;
  line-height: 32px;
  padding: 20px 10px;
}

.form #form-search {
  padding: 0 8px;
}

.buttons {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 260px;
}

/* FOOTER */
footer  {
  background: #f2f2f2;
  border-top: solid 2px #e4e4e4;
  bottom: 0;
  padding-bottom: 0;
  width: 100%;
  height: auto;
}

footer ul li {
  display: inline;
  color: #666666;
  font-size: 14px;
  padding: 20px;
}

footer ul {
  text-align: center;
  padding: 1px;
}

footer ul a:hover {
  text-decoration: underline;
}
